<h1 class="mb-4">Quản lý quyền</h1>
<div class="d-flex mb-3">
  <form (submit)="onSearch()">
    <input
      class="form-control"
      placeholder="Nhập tên quyền"
      [(ngModel)]="search"
      name="search"
    />
  </form>

  <!-- @if(authServices.hasClaim('Role.Create')) {
 +
  } -->
  <button class="btn ms-auto btn-primary" (click)="showDialog()">
    <i class="pi pi-plus"></i>
    <span class="d-inline-block ms-1">Thêm quyền</span>
  </button>
</div>

<!-- list role-->
<p-confirmPopup />
<p-table [value]="roles" [tableStyle]="{ 'min-width': '60rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id" style="width: 20%">
        Id <p-sortIcon field="Id" />
      </th>
      <th pSortableColumn="name" style="width: 20%">
        Quyền <p-sortIcon field="name" />
      </th>
      <th pSortableColumn="created" style="width: 20%">
        Ngày tạo <p-sortIcon field="created" />
      </th>
      <th pSortableColumn="description" style="width: 20%">
        Mô tả <p-sortIcon field="description" />
      </th>
      <th style="width: 15%">Chức năng</th>
      <th style="width: 5%"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-role>
    <tr>
      <td>{{ role.id }}</td>
      <td>{{ role.name }}</td>
      <td>{{ role.created | date : "medium" }}</td>
      <td>{{ role.description }}</td>
      <td>
        <button class="btn btn-primary" (click)="onGoRolePermission(role.id)">
          Chỉnh sửa
        </button>
      </td>
      <td class="d-flex gap-1 align-items-center justify-content-center">
        <button class="btn" (click)="showDialog(role.id)">
          <i class="pi pi-pen-to-square"></i>
        </button>
        <button class="btn" (click)="deleteConfirmPopup($event, role.id)">
          <i class="pi pi-trash"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
<!-- paginator ngprime -->
@if(pagination) {
<div class="card flex justify-content-center mt-3">
  <p-paginator
    [first]="(pagination.currentPage - 1) * pageSize || 0"
    [rows]="pageSize"
    [totalRecords]="pagination.totalItems || 0"
    [rowsPerPageOptions]="[5, 10, 20]"
    (onPageChange)="onPageChange($event)"
  >
  </p-paginator>
</div>
}

<!-- modal add, edit-->
<p-dialog
  header="{{ edit ? 'Cập nhật quyền' : 'Thêm quyền' }}"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
  (onHide)="closeDialog()"
>
  <form [formGroup]="frm" (ngSubmit)="onSubmit()">
    <div
      *ngIf="validationErrors && validationErrors.length > 0"
      class="mx-auto mb-4 bg-danger text-white rounded"
    >
      <ul class="list-unstyled p-3">
        <li *ngFor="let error of validationErrors; let i = index" class="mb-2">
          {{ error }}
        </li>
      </ul>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Quyền</label>
      <input id="username" class="form-control" formControlName="name" />
      @if(frm.get('name')?.invalid && frm.get('name')?.touched ) {
      <span class="text-danger">Vui lòng nhập quyền</span>
      }
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <textarea
        id="description"
        class="form-control"
        formControlName="description"
      ></textarea>
      @if(frm.get('description')?.invalid && frm.get('description')?.touched) {
      <span class="text-danger">Vui lòng nhập mô tả</span>
      }
    </div>
    <div class="d-flex justify-content-end gap-2">
      <button type="button" class="btn btn-secondary" (click)="closeDialog()">
        <i class="pi pi-times me-1"></i>
        <span>Đóng</span>
      </button>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="frm.invalid || !frm.dirty"
      >
        <i class="pi pi-check me-1"></i>
        <span>Lưu</span>
      </button>
    </div>
  </form>
</p-dialog>
