.form-check-input {
  display: none; /* Hides the radio button */
}

.form-check-label {
  display: block;
  position: relative; /* Position relative to allow absolute positioning of the checkmark */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: border-color 0.3s, background-color 0.3s;
}

.form-check-input:checked + .form-check-label {
  border-color: #007bff;
}

.form-check-input:checked + .form-check-label::after {
  content: "\2714"; /* Unicode character for a checkmark */
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #2963c1;
  border: 1px solid #007bff;
  border-radius: 0 0 0 5px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
