<p-toast></p-toast>
<p-confirmDialog />
<div class="row align-items-center mb-3">
  <div class="col">
    <input
      type="text"
      [(ngModel)]="searchString"
      (input)="onSearch()"
      pInputText
      placeholder="Tìm kiếm..."
      class="w-100"
    />
  </div>
  <div class="col-auto">
    <p-dropdown
      [options]="pageSizeOptions"
      [(ngModel)]="pageSize"
      optionLabel="label"
      [placeholder]="'Số lượng trang'"
      (onChange)="onPageSizeChange($event.value)"
    ></p-dropdown>
  </div>
  <div class="col-auto">
    <p-button
      label="Thêm Danh mục"
      icon="pi pi-plus"
      size="large"
      severity="success"
      class="ml-2"
      (click)="showDialog()"
    ></p-button>
  </div>
</div>

<!-- Dialog Add/Update Category -->
<p-dialog
  [header]="headerText"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
  [modal]="true"
>
  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <div class="flex align-items-center gap-3 mb-3">
      <label for="name" class="font-semibold w-6rem">Tên: </label>
      <input
        pInputText
        id="name"
        class="flex-auto"
        autocomplete="on"
        formControlName="name"
      />
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button
        label="Cancel"
        severity="secondary"
        (click)="visible = false"
      ></p-button>
      <p-button label="{{ btnText }}" type="submit"></p-button>
    </div>
  </form>
</p-dialog>

<p-table
  [value]="paginatedCategory"
  [(selection)]="selectedCategories"
  dataKey="id"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Ngày Tạo</th>
      <th>Ngày Sửa</th>
      <th>Action</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-category>
    <tr>
      <td>{{ category.id }}</td>
      <td>{{ category.name }}</td>
      <td>{{ category.created | date : "dd/MM/yyyy, hh:mm a" }}</td>
      <td>{{ category.updated | date : "dd/MM/yyyy, hh:mm a" }}</td>

      <td>
        <p-button
          icon="pi pi-file-edit"
          severity="info"
          (click)="openUpdateDialog(category)"
        ></p-button>
        <p-button
          icon="pi pi-trash"
          severity="danger"
          (click)="confirmDelete(category, $event)"
        ></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-paginator
  (onPageChange)="onPageChange($event)"
  [first]="pageNumber"
  [rows]="pageSize"
  [totalRecords]="120"
/>
