<div class="card">
  <div class="row align-items-center mb-3">
    <div class="col">
      <input type="text" pInputText placeholder="Tìm kiếm..." class="w-100" />
    </div>
    <div class="col-auto">
      <p-dropdown
        [options]="pageSize"
        optionLabel="name"
        placeholder="Số lượng trang"
      ></p-dropdown>
    </div>
    <div class="col-auto">
      <p-button
        label="Thêm Danh mục"
        icon="pi pi-plus"
        size="large"
        severity="success"
        class="ml-2"
      ></p-button>
    </div>
  </div>

  <p-table
    [value]="category"
    [(selection)]="selectedCategories"
    dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Id</th>
        <th>Name</th>
        <th>ParentID</th>
        <th>Action</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-category>
      <tr>
        <td>
          <p-tableCheckbox [value]="category"></p-tableCheckbox>
        </td>
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>{{ category.parentId }}</td>
        <td>
          <p-button
            icon="pi pi-file-edit"
            label="Sửa"
            [rounded]="true"
            severity="info"
            size="small"
            class="mr-2"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            label="Xóa"
            [rounded]="true"
            severity="danger"
            size="small"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
