<div
  class="d-flex align-items-center justify-content-center"
  style="margin-top: 250px"
>
  <div class="card text-center" style="max-width: 500px; width: 500px">
    <div class="card-header">Thay đổi mật khẩu</div>
    <div class="card-body">
      <h5 class="card-title mb-3">Vui lòng nhập mật khẩu mới</h5>

      <div class="input-group">
        <input
          class="form-control"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Mật khẩu mới"
          [(ngModel)]="password"
          (keydown.enter)="onSubmit()"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="togglePasswordVisibility()"
        >
          <i [ngClass]="showPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"></i>
        </button>
      </div>

      <span class="text-danger">{{ passwordErrorMessage }}</span>

      <div class="input-group mb-3 mt-3">
        <input
          class="form-control"
          [type]="showConfirmPassword ? 'text' : 'password'"
          placeholder="Xác nhận mật khẩu"
          [(ngModel)]="confirmPassword"
          (keydown.enter)="onSubmit()"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="toggleConfirmPasswordVisibility()"
        >
          <i
            [ngClass]="showConfirmPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"
          ></i>
        </button>
      </div>
    </div>
    <div class="card-footer text-muted">
      <button class="btn btn-primary" (click)="onSubmit()">Xác nhận</button>
    </div>
  </div>
</div>
<p-toast></p-toast>
