<div
  class="d-flex align-items-center justify-content-center"
  style="margin-top: 250px"
>
  <div class="card text-center" style="max-width: 500px">
    <div class="card-header">Quên mật khẩu</div>
    <div class="card-body">
      <h5 class="card-title mb-3">
        Vui lòng điền email mà bạn sử dụng để đăng nhập
      </h5>

      <input
        class="form-control"
        placeholder="Email"
        type="text"
        [(ngModel)]="email"
        (keydown.enter)="onSubmit()"
      />
      @if(errorMessage) {
      <span class="text-danger">{{ errorMessage }}</span>
      }
    </div>
    <div class="card-footer text-muted">
      <button class="btn btn-primary" (click)="onSubmit()">Xác nhận</button>
    </div>
  </div>
</div>

<p-toast></p-toast>
