<div class="container" id="container">

  <div class="form-container sign-up">
    <form class="w-full md:w-6" [formGroup]="registerForm">
      <h1 class="text-center">Đăng ký </h1>
      <div class="mb-3">
        <div class="flex flex-column gap-2">
          <label for="email">Email</label>
          <input
            pInputText
            id="email"
            aria-describedby="email-help"
            formControlName="email"
            placeholder="Nhập Email"
            required
          />
        </div><div class="flex flex-column gap-2">
          <label for="email">Username</label>
          <input
            pInputText
            id="username"
            formControlName="username"
            placeholder="Nhập Username"
            required
          />
        </div>
        <div class="flex flex-column gap-2">
          <label for="password">Mật khẩu</label>
          <input
            pInputText
            id="password"
            [type]="'password'"
            formControlName="password"
            placeholder="Nhập mật khẩu"
            required
          />
        </div>
        <div class="flex flex-column gap-2">
          <label for="confirmPassword">Nhập lại mật khẩu</label>
          <input
            pInputText
            id="confirmPassword"
            [type]="'password'"
            formControlName="confirmPassword"
            placeholder="Nhập lại mật khẩu"
            required
          />
        </div>
        <p-button
          label="Đăng ký"
          icon="pi pi-user-plus"
          styleClass="p-button-success w-full"
          (click)="onSubmit()"
        ></p-button>
      </div>
    </form>
  </div>
  <div class="toggle-container">
    <div class="toggle">
      <div class="toggle-panel toggle-right">
        <h1>Đăng nhập tài khoản</h1>
        <p>Đăng nhập để truy cập đầy đủ các tính năng của ứng dụng.</p>
        <button class="hidden" (click)="loginForm()">Đăng nhập</button>
      </div>
    </div>
  </div>
</div>
