<div class="container">
  
  <h2>Danh sách Voucher</h2>
  
  <!-- Nút thêm mới Voucher -->
  <button pButton label="Thêm mới" icon="pi pi-plus"
      class="p-button-success mb-2" [routerLink]="['new']" routerLinkActive="active"></button>

  <!-- Tìm kiếm -->
  <div class="mb-2 search-container">
    <i class="pi pi-search search-icon"></i>
    <input type="text" pInputText [(ngModel)]="searchQuery" placeholder="search title" />
</div>

  <!-- Bảng hiển thị danh sách Voucher -->
  <p-table [value]="filteredVouchers" [paginator]="true" [rows]="5" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID <p-sortIcon [field]="'id'"></p-sortIcon></th>
        <th pSortableColumn="title">Title <p-sortIcon [field]="'title'"></p-sortIcon></th>
        <th pSortableColumn="description">Description <p-sortIcon [field]="'description'"></p-sortIcon></th>
        <th pSortableColumn="percentage">Percentage <p-sortIcon [field]="'percentage'"></p-sortIcon></th>
        <th pSortableColumn="start_date">Start Date <p-sortIcon [field]="'start_date'"></p-sortIcon></th>
        <th pSortableColumn="end_date">End Date <p-sortIcon [field]="'end_date'"></p-sortIcon></th>
        <th>Is Active</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-voucher let-i="index">
      <tr [ngClass]="{'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0}">
        <td><b>{{ voucher.id }}</b></td>
        <td>{{ voucher.title }}</td>
        <td>{{ voucher.description }}</td>
        <td>{{ voucher.percentage }}%</td>
        <td>{{ voucher.start_date | date: 'dd/MM/yyyy' }}</td>
        <td>{{ voucher.end_date | date: 'dd/MM/yyyy' }}</td>
        <td>
          <p-inputSwitch [(ngModel)]="voucher.is_active" (onChange)="onActiveChange(voucher)"></p-inputSwitch>
        </td>
        <td>
          <button pButton icon="pi pi-pencil" 
                  class="p-button-rounded p-button-info mr-2" 
                  [routerLink]="['/admin/voucher/edit', voucher.id]" 
                  routerLinkActive="active"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>