<div class="row align-items-center mb-3">
  <div class="col">
    <input type="text" pInputText placeholder="Tìm kiếm..." class="w-100" />
  </div>
  <div class="col-auto">
    <p-dropdown
      [options]="pageSize"
      optionLabel="name"
      placeholder="Số lượng trang"
    ></p-dropdown>
  </div>
  <div class="col-auto">
    <p-button
      label="Thêm Danh mục"
      icon="pi pi-plus"
      size="large"
      severity="success"
      class="ml-2"
      (onClick)="showDialog()"
    ></p-button>
  </div>
</div>

<!-- Dialog Add Category-->
<p-dialog
  header="Thêm Danh Mục"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
  [modal]="true"
>
  <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
    <span class="p-text-secondary block mb-5"></span><br />
    <div class="flex align-items-center gap-3 mb-3">
      <label for="name" class="font-semibold w-6rem">Tên: </label><br />
      <input
        pInputText
        id="name"
        class="flex-auto"
        autocomplete="on"
        formControlName="name"
      />
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
      <p-toast />
      <p-button label="Thêm" type="submit" />
    </div>
  </form>
</p-dialog>

