<p-toast />
<p-confirmDialog />
<div class="row align-items-center mb-3">
  <div class="col">
    <input
      type="text"
      [(ngModel)]="searchString"
      (input)="onSearch()"
      class="form-control"
      placeholder="Tìm kiếm..."
    />
  </div>
  <div class="col-auto">
    <select
      class="form-select"
      [(ngModel)]="pageSize"
      (change)="onPageSizeChange($event)"
    >
      <option *ngFor="let option of pageSizeOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>
  <div class="col-auto">
    <button
      class="btn btn-success"
      (click)="addProduct()"
    >
      <i class="pi pi-plus"></i> Thêm Sản phẩm
    </button>
  </div>
</div>
<div class="table-responsive">
  <p-table
    [value] ="selectedProducts"
    dataKey="id"
    [tableStyle]="{ 'min-width': '60rem' }"
    [expandedRowKeys]="expandedRows"
    (onRowExpand)="onRowExpand($event)"
    (onRowCollapse)="onRowCollapse($event)"
  >
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 5rem;"></th>
      <th pSortableColumn="name" class="px-3">Sản phẩm</th>
      <th pSortableColumn="category" class="px-3">Danh mục</th>
      <th pSortableColumn="status" class="px-3">Trạng thái</th>
      <th class="px-3">Chi tiết</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-product let-expanded="expanded">
    <tr>
      <td>
        <button
            type="button"
            pRipple
            [pRowToggler]="product"
            [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            class="btn btn-link"
          ></button>
      </td>
      <td class="sorting_1">
        <div class="d-flex align-items-center">
          <img
            src="{{ product.image.imgUrl }}"
            alt="Product"
            class="rounded me-2"
            style="height: 50px; width: 50px;"
          />
          <div>
            <h6 class="mb-0"><strong>{{ product.name }}</strong></h6>
            <small class="text-muted">{{ truncateDescription(product.description) }}</small>
          </div>
        </div>
      </td>
      <td>
        <ng-container *ngFor="let categoryId of product.categoryIds">
          <p-tag severity="success" value="{{ getCategoryNameById(categoryId) }}"></p-tag>
        </ng-container>
      </td>
      <td>
        <p-inputSwitch
          [pTooltip]="product.status === 1 ? 'Published' : 'Draft'"
          tooltipPosition="bottom"
          [ngModel]="getStatus(product.status)"
          (onChange)="setStatus(product, $event.checked)"
        ></p-inputSwitch>
      </td>
      <td>
        <button
          class="btn btn-info btn-sm"
          (click)="showDialog(product)"
          title="Xem chi tiết"
        >
          <i class="pi pi-eye"></i>
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-product>
    <tr>
      <td colspan="5">
        <div class="p-3">
          <p-table [value]="product.variants" dataKey="id">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
                <th>Hình ảnh</th>
                <th pSortableColumn="price">Giá<p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="priceSell">Giá giảm<p-sortIcon field="priceSell"></p-sortIcon></th>
                <th pSortableColumn="quantity">Số lượng<p-sortIcon field="quantity"></p-sortIcon></th>
                <th pSortableColumn="sizeId">Kích thước<p-sortIcon field="sizeId"></p-sortIcon></th>
                <th pSortableColumn="colorId">Màu sắc<p-sortIcon field="colorId"></p-sortIcon></th>
                <th style="width: 4rem;"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-variant>
              <tr>
                <td>{{ variant.id }}</td>
                <td>
                  <ng-container *ngFor="let image of variant.images">
                    <img
                      [src]="image.imgUrl"
                      alt="Hình ảnh sản phẩm"
                      class="rounded img-thumbnail"
                      style="width: 50px; height: 50px; margin-right: 5px;"
                    />
                  </ng-container>
                </td>
                <td>{{ variant.price | currency: 'VND' }}</td>
                <td>{{ variant.priceSell | currency: 'VND' }}</td>
                <td>{{ variant.quantity }}</td>
                <td>{{ getSizeNameById(variant.sizeId) }}</td>
                <td>
                  <button class="btn btn-lg" [style.backgroundColor]="getColorCodeById(variant.colorId)"></button>
                </td>
                <td>
                  <p-button
                    type="button"
                    icon="pi pi-search"
                    class="p-button-sm"
                  ></p-button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="7">Không có biến thể nào.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
</div>

<p-dialog
  header="Chi tiết sản phẩm"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [maximizable]="false"
>
  <!-- Nội dung dialog -->
  <div class="row mb-3">
    <!-- Tên sản phẩm -->
    <div class="col-12">
      <label for="productName" class="form-label">Tên sản phẩm</label>
      <input id="productName" type="text" class="form-control" [value]="selectedProduct?.name" disabled />
    </div>
  </div>

  <div class="row mb-3">
    <!-- Mô tả sản phẩm -->
    <div class="col-12">
      <label for="productDescription" class="form-label">Mô tả</label>
      <textarea id="productDescription" class="form-control" rows="4" [value]="selectedProduct?.description" disabled></textarea>
    </div>
  </div>

  <div class="row mb-3">
    <!-- Category sản phẩm -->
    <div class="col-12">
      <label for="productCategory" class="form-label">Danh mục</label>
      <ng-container *ngIf="selectedProduct?.categoryIds?.length">
        <div *ngFor="let categoryId of selectedProduct.categoryIds">
          <input id="productCategory" type="text" class="form-control" [value]="getCategoryNameById(categoryId)" disabled />
        </div>
      </ng-container>

    </div>
  </div>

  <div class="row mb-3">
    <!-- Ngày tạo -->
    <div class="col-6">
      <label for="productCreatedDate" class="form-label">Ngày tạo</label>
      <input id="productCreatedDate" type="text" class="form-control" [value]="selectedProduct?.created | date:'dd/MM/yyyy hh:mm'" disabled />
    </div>
    <!-- Ngày sửa -->
    <div class="col-6">
      <label for="productUpdatedDate" class="form-label">Ngày sửa</label>
      <input id="productUpdatedDate" type="text" class="form-control" [value]="selectedProduct?.updated | date:'dd/MM/yyyy hh:mm'" disabled />
    </div>
  </div>

  <div class="row">
    <div class="col-6 d-flex justify-content-start">
      <!-- Nút Cập nhật -->
      <button class="btn btn-primary" (click)="updateProduct(selectedProduct.id)">Cập nhật</button>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <!-- Nút Xóa -->
      <button class="btn btn-danger" (click)="confirmDelete(selectedProduct)" >Xóa</button>
    </div>
  </div>
</p-dialog>


<!-- Paginator -->
  <p-paginator
  (onPageChange)="onPageChange($event)"
  [first]="first"
  [rows]="pageSize"
  [totalRecords]="totalRecords"
  ></p-paginator>
