<div class="sidenav" [ngClass]="isSidebarCollapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <i class="pi pi-bars"></i>
    </button>
    @if (!isSidebarCollapsed) {
    <a routerLink="/" class="logo-text">MINI STORE</a>
    <button class="btn-close" (click)="closeSidenav()"></button>
    }
  </div>
  <div class="sidenav-nav">
    @for (item of items; track $index) {
    <li class="sidenav-nav-item">
      <a
        class="sidenav-nav-link"
        [routerLink]="item.routerLink"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="sidenav-link-icon" [class]="item.icon"></i>
        @if (!isSidebarCollapsed) {
        <span class="sidenav-link-text">{{ item.label }}</span>
        }
      </a>
    </li>
    }
  </div>
</div>
