<button
  [routerLink]="['/admin/blog']"
  routerLinkActive="active"
  class="back-button"
  pButton
  icon="pi pi-arrow-left"
></button>

<div class="container">
  <h2 *ngIf="currentUrl === '/admin/blog/new'; else editTemplate">Add Blog</h2>
  <ng-template #editTemplate>
    <h2>Edit Blog</h2>
  </ng-template>

  <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
    <!-- Title Field -->
    <div class="p-field">
      <label for="title">Title:</label>
      <input id="title" pInputText formControlName="title" required />
    </div>

    <!-- Content Field -->
    <div class="p-field">
      <label for="content">Content:</label>
      <textarea
        id="content"
        pInputTextarea
        formControlName="content"
        required
      ></textarea>
    </div>

    <!-- Category Field -->
    <div class="p-field">
      <label for="category">Category:</label>
      <input id="category" pInputText formControlName="category" required />
    </div>

    <!-- User ID Field -->
    <div class="p-field">
      <label for="userId">User ID:</label>
      <input id="userId" pInputText formControlName="userId" required />
    </div>

    <!-- Create Date and Update Date Fields -->
    <div class="field-group">
      <div class="left-fields">
        <div class="p-field">
          <label for="create">Create Date:</label>
          <p-calendar
            id="create"
            formControlName="create"
            required
          ></p-calendar>
        </div>
      </div>

      <div class="right-fields">
        <div class="p-field">
          <label for="update">Update Date:</label>
          <p-calendar
            id="update"
            formControlName="update"
            required
          ></p-calendar>
        </div>
      </div>
    </div>

    <button pButton type="submit" label="Add Blog"></button>
  </form>
</div>
