<button
  [routerLink]="['/admin/blog']"
  routerLinkActive="active"
  class="back-button"
  pButton
  icon="pi pi-arrow-left"
></button>

<div class="container">
  <h2 *ngIf="currentUrl === '/admin/blog/new'; else editTemplate">Add Blog</h2>
  <ng-template #editTemplate>
    <h2>Edit Blog</h2>
  </ng-template>

  <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
    <!-- Title Field -->
    <div class="p-field">
      <label for="title">Title:</label>
      <input id="title" pInputText formControlName="title" required />
    </div>

    <!-- Content Field -->
    <div class="p-field">
      <label for="content">Content:</label>
      <editor
        apiKey="rq7jo1l0sdmvpwyktr5qjcfb8lyvg8eik7sc1g6t0idtbn38"
        id="tinymce-editor"
        formControlName="content"
        [init]="{
          height: 300,
          menubar: true,
          plugins: 'lists link image media table code',
          toolbar:
            'undo redo | fontselect fontsizeselect | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media table',
          font_formats:
            'Arial=arial,helvetica,sans-serif; Courier New=courier new,courier,monospace; Georgia=georgia,palatino,serif; Tahoma=tahoma,verdana,sans-serif; Times New Roman=times new roman,times,serif; Verdana=verdana,geneva,sans-serif; System Font=-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif',
          fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt',
          branding: false
        }"
      ></editor>
    </div>

    <!-- Category Field -->
    <div class="p-field">
      <label for="category">Category:</label>
      <input id="category" pInputText formControlName="category" required />
    </div>

    <!-- User ID Field -->
    <div class="p-field">
      <label for="userId">User ID:</label>
      <input id="userId" pInputText formControlName="userId" required />
    </div>

    <!-- Create Date and Update Date Fields -->
    <div class="field-group">
      <div class="left-fields">
        <div class="p-field">
          <label for="create">Create Date:</label>
          <p-calendar
            id="create"
            formControlName="create"
            required
          ></p-calendar>
        </div>
      </div>

      <div class="right-fields">
        <div class="p-field">
          <label for="update">Update Date:</label>
          <p-calendar
            id="update"
            formControlName="update"
            required
          ></p-calendar>
        </div>
      </div>
    </div>

    <button pButton type="submit" label="Submit"></button>
  </form>
</div>
