<div class="container" id="container">
  <!-- Form Đăng Nhập -->
  <div class="form-container sign-in">
    <form class="w-full md:w-6" action="" [formGroup]="loginForm">
      <h1 class="text-center">Đăng Nhập</h1>
      <div class="mb-3">
        <span>Đăng nhập với Tài khoản</span><br>
        <div class="flex flex-column gap-2">
          <label for="usernameOrEmail">Tài khoản</label>
          <input
            pInputText
            id="userOrEmail"
            aria-describedby="email-help"
            formControlName="userOrEmail"
            placeholder="Nhập Email hoặc Username"
            required
          />
        </div>
        <div class="flex flex-column gap-2">
          <label for="password">Mật khẩu</label>
          <input
            pInputText
            id="password"
            [type]="'password'"
            formControlName="password"
            placeholder="Nhập mật khẩu"
            required
          />
        </div>
        <p-button
          label="Đăng nhập"
          icon="pi pi-user"
          styleClass="w-full mx-auto"
          (click)="onSubmit()"
        ></p-button>
      </div>

      <span>Hoặc đăng nhập với:</span>
      <div class="flex justify-content-between mt-3">
        <a href="#">Facebook</a>
        <a href="#">Google</a>
      </div>
      <div class="mt-3 text-center">
        <a href="#">Quên mật khẩu?</a>
      </div>
    </form>
  </div>
  <div class="toggle-container">
    <div class="toggle">
      <div class="toggle-panel toggle-left">
        <h1>Tạo tài khoản mới</h1>
        <p>Tạo tài khoản ngay để bắt đầu hành trình cùng chúng tôi.</p>
        <button class="hidden" id="register" (click)="registerForm()">Đăng Ký</button>
      </div>
    </div>
  </div>
</div>
