.container{
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}
.container p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}
.container span{
  font-size: 12px;
}
.container a{
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}
.container button{
  background-color: rgb(255, 13, 13);
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}
.container form{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}
.container input{
  background-color: #eee;
  border:none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}
.form-container{
  position: absolute;
  top: 0;
  height: 100%;
}
.sign-in{
  right: 0;
  width: 50%;
  z-index: 1;
}
.toggle-container{
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  z-index: 1000;
}
.toggle{
  background-color: rgba(255, 4, 4, 0.952);
  height: 100%;
  color: #fff;
  position: relative;
  height: 100%;
  width: 200%;

}
#register{
  border-color: #fff;
}

.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;

}
