<h1>Quản lý bài viết</h1>
<div class="container p-4" style="background-color: #fff">
  <div class="d-flex gap-3 mb-3">
    <!-- Tìm kiếm -->
    <div class="w-100">
      <input
        type="text"
        pInputText
        placeholder="Search"
        pInputText
        [(ngModel)]="searchQuery"
      />
    </div>

    <!-- Nút thêm mới Blog -->
    <p-button
      label="Thêm mới"
      icon="pi pi-plus"
      [routerLink]="['new']"
      routerLinkActive="active"
      class="btn-add"
    ></p-button>
  </div>

  <!-- Bảng hiển thị danh sách Blog -->
  <p-table
    [value]="filteredBlogs"
    [paginator]="true"
    [rows]="5"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="Id">
          ID <p-sortIcon [field]="'Id'"></p-sortIcon>
        </th>
        <th pSortableColumn="Title">
          Title <p-sortIcon [field]="'Title'"></p-sortIcon>
        </th>
        <th pSortableColumn="UserId">
          UserId <p-sortIcon [field]="'UserId'"></p-sortIcon>
        </th>
        <th pSortableColumn="Category">
          Category <p-sortIcon [field]="'Category'"></p-sortIcon>
        </th>
        <th style="width: 5%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-blog let-i="index">
      <tr [ngClass]="{ 'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0 }">
        <td>
          <b>{{ blog.id }}</b>
        </td>
        <td>{{ blog.title }}</td>
        <td>{{ blog.userId }}</td>
        <td>{{ blog.category }}</td>
        <td class="d-flex gap-1 align-items-center justify-content-center">
          <button
            class="btn"
            [routerLink]="['/admin/blog/edit', blog.id]"
            routerLinkActive="active"
          ></button>

          <button
            pButton
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger mr-2"
            (click)="confirmDelete(blog.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog></p-confirmDialog>
