<h1 class="mb-4">Quản lý đơn hàng</h1>
<div class="d-flex mb-3">
  <form (submit)="onSearch()">
    <input
      class="form-control"
      placeholder="Nhập id đơn hàng, sđt, tên người nhận hoặc địa chỉ người nhận"
      [(ngModel)]="prm.search"
      name="search"
    />
  </form>
</div>

<!-- list order -->
<p-confirmPopup />
<p-table [value]="orders" [tableStyle]="{ 'min-width': '60rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">Id <p-sortIcon field="Id" /></th>
      <th pSortableColumn="name">Tên người nhận <p-sortIcon field="name" /></th>
      <th pSortableColumn="name">Phương thức <p-sortIcon field="name" /></th>
      <th pSortableColumn="name">Thanh toán <p-sortIcon field="name" /></th>
      <th pSortableColumn="name">Thời gian <p-sortIcon field="name" /></th>
      <th pSortableColumn="created">
        Trạng thái <p-sortIcon field="created" />
      </th>
      <th pSortableColumn="description">
        Tổng cộng <p-sortIcon field="description" />
      </th>
      <th style="width: 5%"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order>
    <tr>
      <td>{{ order.id }}</td>
      <td>{{ order.fullName }}</td>
      <td>{{ order.shippingName }}</td>
      <td>{{ order.paymentStatus }}</td>
      <td>{{ order.created }}</td>
      <td>{{ order.status }}</td>
      <td>${{ calTotal(order) }}</td>
      <td class="d-flex gap-1 align-items-center justify-content-center">
        <button class="btn" (click)="openOrderDetail(order.id)">
          <i class="pi pi-pen-to-square"></i>
        </button>
        <button class="btn" (click)="deleteConfirmPopup($event, order.id)">
          <i class="pi pi-trash"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
<!-- paginator ngprime -->
@if(pagination) {
<div class="card flex justify-content-center mt-3">
  <p-paginator
    [first]="(pagination.currentPage - 1) * prm.pageSize || 0"
    [rows]="prm.pageSize"
    [totalRecords]="pagination.totalItems || 0"
    [rowsPerPageOptions]="[5, 10, 20]"
    (onPageChange)="onPageChange($event)"
  >
  </p-paginator>
</div>
}
