.nav-link:hover {
  background-color: rgba(0, 123, 255, 0.1);
  border-radius: 0.25rem;
}

.btn-primary:hover {
  opacity: 0.9;
}
.img-rounded {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 1px 6px;
}
