<div class="card" style="height: auto">
  <div>
    <form [formGroup]="productForm" (ngSubmit)="addOrUpdateProduct()">
      <p-toast />
      <p-stepper>
        <p-stepperPanel header="Bước I">
          <ng-template pTemplate="content" let-nextCallback="nextCallback">
            <div class="flex flex-column p-4">
              <div
                class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium p-3"
              >
                <div class="row">
                  <div class="mb-4 col-md-6">
                    <label for="name" class="font-semibold">Tên:</label>
                    <input
                      pInputText
                      id="name"
                      class="flex-auto"
                      autocomplete="on"
                      formControlName="name"
                    />
                  </div>
                  <div class="mb-4 col-md-6">
                    <label for="categories" class="font-semibold"
                      >Danh Mục:</label
                    >
                    <p-multiSelect
                      [options]="categories"
                      formControlName="selectedCategories"
                      placeholder="Chọn Danh Mục"
                      optionLabel="name"
                      optionValue="id"
                      display="chip"
                      [(ngModel)]="selectedCategories"
                      [showClear]="true"
                      [filter]="true"
                      (onFilter)="onCategoryFilter($event)"
                    >
                      <ng-template let-item pTemplate="item">{{
                        item.name
                      }}</ng-template>
                      <ng-template pTemplate="empty">
                        <div class="no-data">
                          No data found.
                          <button
                            (click)="addCategory()"
                            class="btn btn-primary"
                          >
                            Add Category
                          </button>
                        </div>
                      </ng-template>
                    </p-multiSelect>
                  </div>
                </div>
                <div class="mb-4">
                  <label for="description" class="font-semibold">Mô tả:</label>
                  <textarea
                    rows="5"
                    pInputTextarea
                    formControlName="description"
                    style="width: 100%"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="flex justify-content-end">
              <p-button
                label="Tiếp theo"
                icon="pi pi-arrow-right"
                iconPos="right"
                (onClick)="nextCallback.emit()"
              />
            </div>
          </ng-template>
        </p-stepperPanel>

        <p-stepperPanel header="Bước II">
          <ng-template pTemplate="content" let-prevCallback="prevCallback">
            <div class="flex flex-column p-4">
              <div class="card mb-6">
                <div class="card-header">
                  <h5 class="card-title mb-0">Variants</h5>
                </div>

                <div class="card-body">
                  <form [formGroup]="variantsForm">
                    <div formArrayName="variants">
                      <div
                        *ngFor="let variant of variants.controls; let i = index"
                        [formGroupName]="i"
                        class="row g-4 mb-4 border p-3 rounded"
                      >
                        <!-- Price and Quantity Section -->
                        <div class="col-md-4">
                          <div class="mb-2">
                            <p-inputNumber
                              placeholder="Giá tiền"
                              mode="currency"
                              currency="VND"
                              locale="en-US"
                              formControlName="price"
                              class="w-100"
                            />
                          </div>
                          <div class="mb-2">
                            <p-inputNumber
                              placeholder="Giá tiền giảm (nếu có)"
                              mode="currency"
                              currency="VND"
                              locale="en-US"
                              formControlName="priceSell"
                              class="w-100"
                            />
                          </div>
                          <div class="mb-2">
                            <p-inputNumber
                              placeholder="Số lượng"
                              mode="decimal"
                              [useGrouping]="false"
                              formControlName="quantity"
                              class="w-100"
                            />
                          </div>


                          <!-- Size and Color Section -->
                          <div class="col-md-8">
                            <div class="mb-2">
                              <p-dropdown
                                [options]="sizes"
                                formControlName="sizeId"
                                placeholder="Chọn Kích thước"
                                optionLabel="name"
                                optionValue="id"
                                [showClear]="true"
                                [filter]="true"
                                (onFilter)="onSizeFilter($event)"
                                class="w-100"
                              >
                                <ng-template let-item pTemplate="item">{{ item.name }}</ng-template>
                                <ng-template pTemplate="empty">
                                  <div class="no-data">
                                    No data found.
                                    <button (click)="addSize()" class="btn btn-primary">Add Size</button>
                                  </div>
                                </ng-template>
                              </p-dropdown>
                            </div>
                            <div class="mb-2">
                              <p-dropdown
                                [options]="colors"
                                formControlName="colorId"
                                placeholder="Chọn Màu Sắc"
                                optionLabel="name"
                                optionValue="id"
                                [showClear]="true"
                                [filter]="true"
                                (onFilter)="onColorFilter($event)"
                                class="w-100"
                              >
                                <ng-template let-item pTemplate="item">{{ item.name }}</ng-template>
                                <ng-template pTemplate="empty">
                                  <div class="no-data">
                                    No data found.
                                    <button (click)="showColorDialog()" class="btn btn-primary">Add Color</button>
                                  </div>
                                </ng-template>
                              </p-dropdown>
                            </div>
                          </div>
                        </div>
                        <!-- Image Upload Section -->
                        <div class="col-md-8" style="height: 100%;">
                          <p-fileUpload
                            name="variantImages"
                            url="https://www.primefaces.org/cdn/api/upload.php"
                            (onUpload)="onUpload($event, i)"
                            [multiple]="true"
                            accept="image/*"
                            maxFileSize="1000000"
                          >
                            <ng-template pTemplate="content">
                              <ol *ngIf="variant.get('images')?.value">
                                <li *ngFor="let image of variant.get('images')?.value; let i = index">
                                  <img
                                    [src]="image.url"
                                    [alt]="image.name"
                                    width="50"
                                    height="50"
                                  />

                                  <label [for]="'isMainId' + i" class="ml-2">IsMain</label>
                                  <p-radioButton
                                    name="selectedMainImage"
                                    [value]="image.name"
                                    formControlName="selectedMainImage"
                                    [inputId]="'isMainId' + i"
                                  ></p-radioButton>
                                </li>
                              </ol>
                            </ng-template>
                          </p-fileUpload>
                        </div>

                        <!-- Remove Variant Button -->
                        <div class="col-md-4 d-flex align-items-end">
                          <p-button
                            icon="pi pi-times"
                            (click)="removeVariant(i)"
                            class="me-2"
                            severity="danger"
                            label="Remove"
                          ></p-button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <!-- Footer Buttons -->
                <div class="card-footer">
                  <div class="d-flex justify-content-between">
                    <p-button
                      label="Thêm biến thể"
                      icon="pi pi-plus"
                      (click)="addVariant()"
                    ></p-button>
                    <p-button
                      label="Lưu sản phẩm"
                      icon="pi pi-check"
                      (click)="onSubmit()"
                      [disabled]="!productForm.valid || !variantsForm.valid"
                    ></p-button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-stepperPanel>

      </p-stepper>
    </form>
  </div>
</div>

<p-dialog header="Thêm màu" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <div class="flex align-items-center gap-3 mb-3">
    <label for="name" class="font-semibold w-6rem">Tên</label>
    <input pInputText id="name" [(ngModel)]="name" autocomplete="off" />
  </div>
  <div class="flex align-items-center gap-3 mb-5">
    <label for="code" class="font-semibold w-6rem">Code</label>
    <p-colorPicker [(ngModel)]="code"></p-colorPicker>
    <input
      type="text"
      placeholder="Nhập mã màu"
      [(ngModel)]="code"
      (ngModelChange)="updateColorFromInput($event)"
    />
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button label="Hủy" severity="secondary" (onClick)="visible = false"></p-button>
    <p-button label="Thêm" (onClick)="addColor()"></p-button>
  </div>
</p-dialog>

