  <div class="row">
    <div class="col">
      <input type="text" pInputText placeholder="Tìm kiếm..." />
    </div>
    <div class="col">
      <p-dropdown
        [options]="pageSize"
        optionLabel="name"
        placeholder="">
      </p-dropdown>

      <p-button label="Thêm Danh mục" icon="pi pi-plus" size="large" severity="success"></p-button>
    </div>
    <div>
      <p-table
    [value]="category"
    [(selection)]="selectedCategory"
    dataKey="code"
    [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                <th>Name</th>
                <th>ParentID</th>
                <th>Action</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
            <tr>
                <td>
                    <p-tableCheckbox [value]="category"></p-tableCheckbox>
                </td>
                <td>{{category.name}}</td>
                <td>

                </td>
                <td>
                  <p-button icon="pi pi-file-edit" label="Sửa" [rounded]="true" severity="info" size="small"/>
                  <p-button icon="pi pi-trash" label="Xóa" [rounded]="true" severity="danger" size="small" />
                </td>
            </tr>
        </ng-template>
</p-table>
    </div>
  </div>
