<p-table
  [value]="categoryService.categoryList()"
  [(selection)]="selectedCategory"
  dataKey="id"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th>Id</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-category>
    <tr>
      <td><p-tableCheckbox [value]="category"></p-tableCheckbox></td>
      <td>{{ category.id }}</td>
      <td>{{ category.name }}</td>
      <td>
        <p-button icon="pi pi-file-edit" severity="info" ></p-button>
        <p-button icon="pi pi-trash" severity="danger" ></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
